* {
  padding: 0;
  margin: 0;
}
body {
  height: auto;
  margin: auto;
  line-height: 1.5;
  overflow-x: hidden;
}

/* header */
.bs--gutter {
  --bs-gutter-x: 0 !important;
}
.info {
  min-height: 50px;
}
.logo {
  padding-left: 30px;
}
#collapsibleNavId {
  font-weight: bold;
}
.choose {
  color: blue !important;
}
.nav-link {
  color: blue;
}
.webLogo{
  height: 40px;
  width: 120px;
}
.mtop-nav{
  margin-top: 180px;
}
/* 
.headroom {
  -webkit-transition: all 2s ease-in-out !important;
  -moz-transition: all 2s ease-in-out !important;
  -o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0) !important;
}
.headroom--scrolled {
  transition: transform 2s ease-in-out !important;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(0) !important;
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0) !important;
} */

/* 
.headroom {
  top: 0;
  left: 0;
  right: 0;
  z-index: 11111;
}
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}
.headroom--scrolled {
  transition: transform 200ms ease-in-out !important;
}
.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%) !important;
}
.headroom--pinned {
  position: fixed;
  transform: translateY(0%) !important;
} */
/* search */
.box-search {
  width: max-content;
  min-width: 180px !important;
  height: 30px;
  border-radius: 100%;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease-in-out;
  cursor: pointer;
}
.box-search > input {
  border: none;
  background-color: transparent;
  font-size: 16px;
  height: 80%;
  flex-grow: 1;
  width: 0;
  transition: 1s ease-in-out;
}

.box-search > input:focus {
  outline: none;
}

.box-search > span {
  display: inline-flex;
  width: 20px;
  height: 20px;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.dropdown-menu.dropdown-menu-right.show {
  background: transparent;
  border: none;
  margin-right: 20px;
}
.dropdown-item {
  padding: 0;
}
li {
  padding: 0 !important;
}
.dropdown-item {
  margin-left: auto;
  /* width: fit-content; */
  padding: 0 10px;
  background: #f8f9fa;
}
.nav-link-my-item {
  margin: 5px;
}
.btn-close {
  transition: 0.5s;
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 46px;
  height: 30px;
  color: (0, 0, 0, 0.55);
  animation: showEffect 0.7s;
}
.close-icon {
  background: rgba(0,0,0,.55);
  height: 25px;
  width: 2px;
  position: relative;
  transform: rotate(45deg) translateX(-50%);
  left: 50%;
}
.close-icon::before {
  content: "";
  height: 25px;
  width: 2px;
  background: rgba(0,0,0,.55);
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(90deg);
}
@media (max-width: 320px) {
  .fa-search {
    display: none !important;
  }
}
@media (max-width: 480px) {
  .navbar-brand {
    margin-right: 0 !important;
  }
  .box-search {
    width: 150px !important;
  }
  .webLogo{
    height: 30px;
    width: 90px;
  }
}
@media (max-width: 768px) {
  .box-search {
    width: 200px;
  }
  .mtop-nav{
    margin-top: 130px;
  }
  .show-collap {
    position: fixed;
    background: #f8f9fa;
    left: 0;
    transition: 1s;
    animation: toLeft 0.5s ease-in-out;
  }
  .hide-collap {
    position: fixed;
    background: #f8f9fa;
    left: 150%;
    transition: 1s;
    opacity: 0;
    visibility: hidden;
    animation: toRight 0.5s ease-in-out;
    display: none !important;
  }
}

@keyframes showEffect {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
@keyframes toLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes toRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(200%);
  }
}
/* .d-none{
  transition: 1s;
  animation: toRight .5s;
}
@keyframes toRight{
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(150%);
  }
} */
/* .navbar{
  padding: 0;
} */
/* .box-search:hover {
  width: 400px;
} */

/* .box-search:hover input {
  margin-left: 50px;
} */
