@media (max-width: 575px) {
  .my-container {
    padding-inline: 10%;
  }
}
@media (max-width: 480px) {
  .my-container {
    padding-inline: 5%;
  }
}
.my-shadow{
    background: radial-gradient();
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}