.box-slick:hover .card-slick > img {
  /* transform: scale(0.95); */
  padding: 0 !important;
  opacity: 0.8;
}
.box-slick {
  position: relative;
}
img {
  transition: 0.5s;
}

.card-slick::before,
.card-slick::after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  transition: 0.5s ease;

  border: 2px solid transparent;
}
.card-slick::after {
  bottom: 0;
  right: 0;
  border-bottom: 2px solid orange;
  border-right: 2px solid orange;
}
.card-slick::before {
  top: 0;
  left: 0;
  border-top: 2px solid red;
  border-left: 2px solid red;
}
.card-slick:hover::before,
.card-slick:hover::after {
  width: 105%;
  height: 105%;
}
.best-view {
  background-image: url("./box-title.png");
  position: relative;
  width: 240px;
  height: 40px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
}
.box-title {
  position: relative;
  width: fit-content;
  height: 50px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  align-items: center;
  /* margin-left: -10px; */
}
.box-title > span {
  position: absolute;
  line-height: 50px;
  top: 0;
  left: 10px;
}
.box-image {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 544px) {
  .mycol-12 {
    width: 50%;
  }
}
@media (max-width: 480px) {
  .box-title {
    width: 180px;
  }
  .mycol-12 {
    width: 49%;
    padding-inline: 5px;
  }
  .box-image {
    height: 150px;
  }
}
